:root{
    --primaryFont: Poppins;
    --primaryColor: #252641;
    --secondaryColor: #696984;
    --footerColor: #B2B3CF;
}
body{
    font-family: var(--primaryFont);
}
/* Header section */
header{
    padding-top : 30px;
    padding-bottom: 30px;
}
header .row{
    justify-content: space-between;
}
header nav{
    display: flex;
    gap : 80px;
    font-size : 22px;
    font-weight: 400;
}
header a{
    color: #5B5B5B;
}

 .account img{
    margin-right:15px;
}
 .account{
    font-size: 18px;
    font-weight: 500;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    header nav{
        display : none;
    }
    .container{
    width:calc(100% - 50px);
    margin:auto;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    header nav{
        display : none;
    }
    .container{
    width:calc(100% - 100px);
    margin:auto;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    header nav{
        display : none;
    }
    .container{
    width:calc(100% - 120px);
    margin:auto;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    header nav{
        display: flex;
        gap : 20px;
        font-size : 18px;
        font-weight: 300;
    }
    .container{
    width:calc(100% - 180px);
    margin:auto;
    }
}

/* lesson section */
.lesson .container{
    background-color: rgba(157, 204, 255, 0.2);
    padding-bottom:155px;
}
.lesson h2{
    color:var(--primaryColor);
    font-size: 36px;
    font-weight: 600;
}

.lesson .title p{
    color:#49BBBD;
    font-size: 20px;
    font-weight: 700;
    font-style: bold;
}
.lesson .title .row{
    justify-content: space-between;
    padding-left:18px;
    padding-right: 120px;
    padding-top:52px;
}
.lesson .account img{
    margin-right:15px;
}
.lesson .account{
    margin-bottom: 50.64px;
    margin-top:10px;
}
.lesson .item h3{
    font-weight: 500;
    font-size:24px;
    margin-top: 12px;
    color:var(--primaryColor);
}
.lesson .item{
    padding-top : 19.6px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius : 20px;
    background-color: white;
}
.lesson .item .colorP{
    color: #00000080;
    font-weight: 600;
    font-size:14px;
}
.lesson .item .name-account{
    color: #000000;
    font-weight: 600;
    font-size:14px;
}
.lesson .item  p {
    text-align: end;
}
.lesson .items{
    gap:50px;
}
.lesson .items {
    padding : 0 65px;
    margin-top:50px;
    
}  
.lesson .item{
    width: calc((100% - 100px) / 3);
}
.lesson .title-img img{
    width:100%;
}
/* category section*/
.category h2{
    color:  var(--primaryColor);
    font-size: 36px;
    font-weight: 600 ;
    margin-top:82px;
    margin-bottom: 53px;
}
.category .items{
 gap:88px;
}
.category .item{
    border-radius: 20px ;
    text-align: center;
    box-shadow: 0 18.83px 47.08px 0 rgba(47, 50, 125, 0.1);
    padding-top : 30px;
    padding-bottom: 60px;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 80px;
    width:calc((100% - 264px )/4);
}
.category .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90px;
    width: 99px;
    border-radius: 4px;
}
.category .item h3{
    padding-top: 20px;
    padding-bottom: 25px;
}
.category .item p{
    color:var(--secondaryColor);
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.02em;
    word-break: normal;
}
.category .color1{
    background-color: #49BBBD4D;
}
.category .color2{
    background-color: #5B72EE4D;
}
.category .color3{
    background-color: #9DCCFF4D;
}
.category .color4{
    background-color: #00CBB84D;
}
.category .color5{
    background-color: #F48C064D;
}
.category .color6{
    background-color: #EE645B4D;
}
.category .color7{
    background-color: #2526414D;
}
.category .color8{
    background-color: #00CBB84D;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .category h2{
    font-size: 14px;
}
.category .item{
    width:100%;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
      .category h2{
    font-size: 20px;
}
.category .item{
    width:100%;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
          .category h2{
    font-size: 22px;
}
.category .item{
    width:calc((100% - 120px )/2);
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (min-width: 1199px){
            .category h2{
    font-size: 26px;
}
.category .item{
    width:calc((100% - 120px )/2);
}
}


/*  Recommended Section */
.recommended .container{
    padding-top:15px;
    background-color: rgba(157, 204, 255, 0.2);
    padding-left : 122px;
    padding-right : 122px;
    padding-bottom: 208px;
}
.recommended .title .row 
{
    justify-content:space-between;
    margin-bottom: 50px;
    margin-top: 100px;
}
.recommended .title h2{
    font-size: 30px;
    font-weight : 500;
    letter-spacing: 0.02;
    
}
.recommended .title p{
    color: #49BBBD;
    font-size: 20px;
    font-weight: 700;
    font-style: bold;
} 
.recommended .item{
    border-radius: 20px;
    background-color: white;
    padding : 20px;
    min-height: 239px;
}
.recommended img {
    width: 100%;
   /* object-fit: cover;*/
}
.recommended .item .icons{
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}
.recommended .item h3{
    font-weight: 500;
    font-size: 24px;
    color: var(--primaryColor);
    padding-bottom: 21px;
}
.recommended .paddingP{
    margin-bottom: 18px;
    color: var(--secondaryColor);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
}
.recommended .item .old{
    color : var(--secondaryColor);
    text-decoration: line-through;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.02em;
}
.recommended .item .now{
    color : #49BBBD;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.02em;
    padding-left : 14px;
}
.recommended .item .price{
    justify-content: space-between;
}
.recommended .items{
    gap :50px;
    align-items: stretch;
}
.recommended .item{
    width: calc((100% - 150px) / 4);
}
.recommended .account1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.recommended .account1 img{
    margin-right: 15px;
    width:100%;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container{
    width:calc(100% - 50px);
    margin:auto;
    }
    .recommended .title h2{
        font-size: 14px;
        font-weight : 300;
    }
    .recommended .title p{
        font-size: 12px;
        font-weight: 600;
    }
    .recommended .item{
     width: 100% ;
    }
    .recommended .container{
    padding-top:15px;
    padding-left : 50px;
    padding-right : 50px;
    padding-bottom: 208px;
    }
    .recommended .item .old{
    font-size: 12px;
    font-weight: 500;
}
.recommended .item .now{
    font-size: 12px;
    font-weight: 500;
    padding-left : 8px;
}
.recommended .account1 img{
    margin-right: 10px;
    width:70%;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
     .container{
    width:calc(100% - 100px);
    margin:auto;
    }
    .recommended .title h2{
        font-size: 20px;
        font-weight : 300;
    }
    .recommended .title p{
        font-size: 14px;
        font-weight: 600;
    }
    .recommended .item{
     width: 90% ;
    }
    .recommended .container{
    padding-top:15px;
    padding-left : 50px;
    padding-right : 50px;
    padding-bottom: 208px;
    }
    .recommended .item .old{
    font-size: 12px;
    font-weight: 500;
    }
    .recommended .item .now{
        font-size: 12px;
        font-weight: 500;
        padding-left : 8px;
    }
    .recommended .account1 img{
        margin-right: 10px;
        width:70%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
     .container{
    width:calc(100% - 120px);
    margin:auto;
    }
    .recommended .title h2{
        font-size: 18px;
        font-weight : 300;
    }
    .recommended .title p{
        font-size: 14px;
        font-weight: 600;
    }
    .recommended .item{
     width: calc((100% - 120px) / 2);
    }
    .recommended .container{
    padding-top:15px;
    padding-left : 50px;
    padding-right : 50px;
    padding-bottom: 208px;
    }
    .recommended .item .old{
    font-size: 12px;
    font-weight: 500;
}
.recommended .item .now{
    font-size: 12px;
    font-weight: 500;
    padding-left : 8px;
}
.recommended .account1 img{
    margin-right: 10px;
    width:70%;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .recommended .title h2{
        font-size: 22px;
        font-weight : 300;
    }
    .recommended .title p{
        font-size: 16px;
        font-weight: 600;
    }
    .recommended .item{
     width: calc((100% - 150px) / 2);
    }
    .container{
    width:calc(100% - 180px);
    margin:auto;
    }
   
}
/*  courses Section */
.courses .container{
    padding-top:15px;
    padding-left : 122px;
    padding-right : 122px;
    padding-bottom: 208px;
}
.courses .title .row 
{
    margin-bottom: 50px;
    margin-top: 100px;
    justify-content:space-between;
}
.courses .title h2{
    font-size: 30px;
    font-weight : 500;
    letter-spacing: 0.02;
    
}
.courses .title p{
    color: #49BBBD;
    font-size: 20px;
    font-weight: 700;
    font-style: bold;
} 
.courses .item{
    border-radius: 20px;
    background-color: white;
    padding : 20px;
    min-height: 239px;
    box-shadow: 0 18.83px 47.08px 0 rgba(47, 50, 125, 0.1);

}
.courses img {
    width: 100%;
   /* object-fit: cover;*/
}
.courses .item .icons{
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}
.courses .item h3{
    font-weight: 500;
    font-size: 24px;
    color: var(--primaryColor);
    padding-bottom: 21px;
}
.courses .paddingP{
    margin-bottom: 18px;
    color: var(--secondaryColor);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
}
.courses .item .old{
    color : var(--secondaryColor);
    text-decoration: line-through;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.02em;
}
.courses .item .now{
    color : #49BBBD;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.02em;
    padding-left : 14px;
}
.courses .item .price{
    justify-content: space-between;
}
.courses .items{
    gap :50px;
    align-items: stretch;
}
.courses .item{
    width: calc((100% - 150px) / 4);
}
.courses .account1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.courses .account1 img{
    margin-right: 15px;
    width:100%;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container{
    width:calc(100% - 50px);
    margin:auto;
    }
    .courses .title h2{
        font-size: 14px;
        font-weight : 300;
    }
    .courses .title p{
        font-size: 12px;
        font-weight: 600;
    }
    .courses .item{
     width: 100% ;
    }
    .courses .container{
    padding-top:15px;
    padding-left : 50px;
    padding-right : 50px;
    padding-bottom: 208px;
    }
    .courses .item .old{
    font-size: 12px;
    font-weight: 500;
}
.courses .item .now{
    font-size: 12px;
    font-weight: 500;
    padding-left : 8px;
}
.courses .account1 img{
    margin-right: 10px;
    width:70%;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
     .container{
    width:calc(100% - 100px);
    margin:auto;
    }
    .courses .title h2{
        font-size: 20px;
        font-weight : 300;
    }
    .courses .title p{
        font-size: 14px;
        font-weight: 600;
    }
    .courses .item{
     width: 90% ;
    }
    .courses .container{
    padding-top:15px;
    padding-left : 50px;
    padding-right : 50px;
    padding-bottom: 208px;
    }
    .courses .item .old{
    font-size: 12px;
    font-weight: 500;
    }
    .courses .item .now{
        font-size: 12px;
        font-weight: 500;
        padding-left : 8px;
    }
    .courses .account1 img{
        margin-right: 10px;
        width:70%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
     .container{
    width:calc(100% - 120px);
    margin:auto;
    }
    .courses .title h2{
        font-size: 18px;
        font-weight : 300;
    }
    .courses .title p{
        font-size: 14px;
        font-weight: 600;
    }
    .courses .item{
     width: calc((100% - 120px) / 2);
    }
    .courses .container{
    padding-top:15px;
    padding-left : 50px;
    padding-right : 50px;
    padding-bottom: 208px;
    }
    .courses .item .old{
    font-size: 12px;
    font-weight: 500;
}
.courses .item .now{
    font-size: 12px;
    font-weight: 500;
    padding-left : 8px;
}
.courses .account1 img{
    margin-right: 10px;
    width:70%;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .courses .title h2{
        font-size: 22px;
        font-weight : 300;
    }
    .courses .title p{
        font-size: 16px;
        font-weight: 600;
    }
    .courses .item{
     width: calc((100% - 150px) / 2);
    }
    .container{
    width:calc(100% - 180px);
    margin:auto;
    }
   
}

/* Footer Section */
footer{ 
    background-color: var(--primaryColor);
    TEXT-ALIGN: center;
}
footer  img{
padding-bottom: 95px;
padding-top: 75px;
}
footer h3{
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 0.04em;
    color : VAR(--footerColor);
    padding-bottom: 20px;
}
footer p {
    padding-bottom: 40px;
    padding-top: 20px;
    COLOR: VAR(--footerColor);
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.04em;
}
footer .row{
    justify-content: center;
    gap : 22px;
    padding-bottom: 96px;
    align-items: center;
}
footer button {
    background-color : #49BBBD;
    border-radius: 60px;
    border : none;
    padding : 14px 36px;
    font-size: 22px;
    font-weight: 500;
    color : white;
}
footer input 
{
    border : 1px solid #83839A;
    border-radius: 80px;
    color : #83839A;
    background-color: transparent;
    width:425px;
    padding-top:15px;
    padding-left : 32px;
    padding-bottom:15px;
    font-size: 20px;
    font-weight: 400;
}
footer nav a{
    color : var(--footerColor);
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.04em;
}
footer nav{
    display : flex;
    justify-content: center;
    gap : 42.5px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    footer h3{
    font-size: 16px;
    font-weight: 200;
    }
    footer p {
        font-size: 12px;
        font-weight: 100;
    }
    footer img{
        width:80%;
        padding-bottom: 60px;
    }
    footer button {
        font-size: 14px;
        font-weight: 100;
    }
    footer input 
    {
        width:200px;
        font-size: 14px;
        font-weight: 100;
    }
    footer .row{
      gap : 18px;
      padding-bottom: 60px;
    }
    footer nav a{
        font-size: 12px;
        font-weight: 100;
    }
    footer nav{
        gap : 20px;
    }
    .container{
    width:calc(100% - 50px);
    margin:auto;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container{
    width:calc(100% - 100px);
    margin:auto;
    }
    footer h3{
    font-size: 16px;
    font-weight: 200;
    }
    footer p {
        font-size: 12px;
        font-weight: 100;
    }
    footer img{
        width:50%;
        padding-bottom: 60px;
    }
    footer button {
        font-size: 14px;
        font-weight: 100;
    }
    footer input 
    {
        width:200px;
        font-size: 14px;
        font-weight: 100;
    }
    footer .row{
      gap : 18px;
      padding-bottom: 60px;
    }
    footer nav a{
        font-size: 12px;
        font-weight: 100;
    }
    footer nav{
        gap : 20px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container{
    width:calc(100% - 120px);
    margin:auto;
    }
    footer h3{
    font-size: 16px;
    font-weight: 200;
    }
    footer p {
        font-size: 16px;
        font-weight: 100;
    }
    footer button {
        font-size: 16px;
        font-weight: 100;
    }
    footer input 
    {
        width:350px;
        font-size: 14px;
        font-weight: 100;
    }
    footer nav a{
        font-size: 16px;
        font-weight: 100;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    footer h3{
    font-size: 20px;
    font-weight: 300;
    }
    footer p {
        font-size: 18px;
        font-weight: 200;
    }
    footer button {
        font-size: 18px;
        font-weight: 300;
    }
    footer input 
    {
        width:425px;
        font-size: 16px;
        font-weight: 200;
    }
    footer nav a{
        font-size: 18px;
        font-weight: 200;
    }
}