:root{
    --primaryFont: Poppins;
    --primaryColor: #252641;
    --secondaryColor: #696984;
}
body{
    font-family: var(--primaryFont);
}
header{
    padding-top : 30px;
}
header .row{
    justify-content: space-between;
}
header nav{
    display: flex;
    gap : 80px;
    font-size : 22px;
    font-weight: 400;
}
header a{
    color: #5B5B5B;
}
header.account img{
    margin-right:12px;
}
header .account{
    font-size: 18px;
    font-weight: 500;
}
.lesson .container{
        background-color: rgba(157, 204, 255, 0.2);

    padding-bottom:155px;
}
.lesson h2{
    color:var(--primaryColor);
    font-size: 36px;
    font-weight: 600;
}

.lesson .title p{
    color:#49BBBD;
    font-size: 20px;
    font-weight: 700;
    font-style: bold;
}
.lesson .title .row{
    justify-content: space-between;
    padding-left:18px;
    padding-right: 120px;
    padding-top:52px;
}
.lesson .account img{
    margin-right:15px;
}
.lesson .account{
    margin-bottom: 50.64px;
    margin-top:10px;
}
.lesson .item h3{
    font-weight: 500;
    font-size:24px;
    margin-top: 12px;
    color:var(--primaryColor);
}
.lesson .item{
    padding-top : 19.6px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius : 20px;
    background-color: white;
}
.lesson p{
    color: #00000080;
    font-weight: 600;
    font-size:14px;
   
}
.lesson .item  p {
    text-align: end;
}
.lesson .items{
    gap:50px;
}
.lesson .items {
    padding : 0 65px;
    margin-top:50px;
    
}  
.lesson .item{
    width: calc((100% - 100px) / 3);
}
.lesson .title-img img{
    width:100%;
}
.category h2{
    color:  var(--primaryColor);
    font-size: 36px;
    font-weight: 600 ;
    margin-top:82px;
    margin-bottom: 53px;
}
.category .items{
 gap:88px;
}
.category .item{
    border-radius: 20px ;
    text-align: center;
    box-shadow: 0 18.83px 47.08px 0 rgba(47, 50, 125, 0.1);
    padding-top : 30px;
    padding-bottom: 60px;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 80px;
    width:calc((100% - 264px )/4);
}
.category .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90px;
    width: 99px;
    border-radius: 4px;
}
.category .item h3{
    padding-top: 20px;
    padding-bottom: 25px;
}
.category .item p{
    color:var(--secondaryColor);
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.02em;
    word-break: normal;
}
.category .color1{
    background-color: #49BBBD4D;
}
.category .color2{
    background-color: #5B72EE4D;
}
.category .color3{
    background-color: #9DCCFF4D;
}
.category .color4{
    background-color: #00CBB84D;
}
.category .color5{
    background-color: #F48C064D;
}
.category .color6{
    background-color: #EE645B4D;
}
.category .color7{
    background-color: #2526414D;
}
.category .color8{
    background-color: #00CBB84D;
}